/*
 *@Description:Business News
 *@Author:Vicky Roman
 *@Author URI:
 *@psd source http://www.zcool.com.cn/gfx/ZMzAzODAw.html
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header,
footer,
nav,
aside,
article {
    display: block;
}
body {
    background-color: #fed58e;
    font-family: "Georgia", Arial;
}
button {
    border: 1px solid #145014;
    border-radius: 2px;
    background-color: #229201;
    font-weight: bold;
    color: #fff;
}
/*****　header *****/
header {
    position: relative;
    width: 100%;
    height: 140px;
}
header .desc,
header .search {
    width: 100%;
    height: 65px;
}
header .line {
    width: 100%;
    height: 10px;
    border-top: 1px solid #fbcf89;
    border-bottom: 1px solid #d6a35c;
}
header .desc {
    border-bottom: 1px solid #d6a35c;
}
header .desc .left {
    float: left;
    margin-left: 15%;
    margin-top: 40px;
}
header .desc .right {
    float: right;
    margin-right: 15%;
    margin-top: 40px;
    font-style: italic;
}
header .search {
    border-top: 1px solid #fbcf89;
}
header .search form {
    float: right;
    width: 16%;
    min-width: 210px;
    margin-right: 15%;
}
header .search form input {
    width: 64%;
    height: 28px;
    margin: 5px 0 5px 3%;
    padding-left: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 #aaa inset;
    font-style: italic;
}
header .search form button {
    width: 28%;
    height: 28px;
    margin-left: 3%;
}
header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    margin-top: -50px;
}

/*****　main *****/
.main {
    width: 70%;
    margin: 0 auto;
}
/*aside*/
.main aside {
    float: right;
    width: 25%;
    padding-right: 10px;
}
.main aside nav {   
    border-radius: 5px;
    background-color: #a97a36
}
.main aside nav ul li {
    padding: 6px;
}
.main aside nav ul li a {
    display: block;
    height: 70px;
    background-color: #300302;
    text-align: center;
    font-size: 24px;
    line-height: 70px;
    color: #fff;
}
.main aside nav ul li a:hover {
    background-color: #5d0c0a;
}
.main aside nav ul li .current {
    background-image: url(../images/current.png);
    background-repeat: no-repeat;
    background-position: 20% 28px;
}

.main aside .connect,
.main aside .news {
    position: relative;
    width: 100%;
    padding: 6px;
}
.main aside .connect .shadow,
.main aside .news .shadow {
    position: absolute;
    top: 100%;
    right: 0;
}
.main aside .connect {
    margin-top: 15px;
    background-color: #fef0bf;
}
.main aside .news {
    margin: 30px 0;
    background-color: #f4c26b;
}
.main aside .connect .title,
.main aside .news .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.main aside .connect .title {
    background-color: #f0c27e;
    color: #a97a35;
}
.main aside .connect .social {
    height: 60px;
}
.main aside .connect .social a {
    display: block;
    float: left;
    width: 33%;
    line-height: 60px;
    text-align: center;
}
.main aside .connect .social a img {
    width: 20px;
    height: 20px;
}
.main aside .news .title {
    background-color: #be841f;
    color: #6a4815;
}
.main aside .news ul {
    padding: 5px;
}
.main aside .news ul li {
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #a27019;
}
.main aside .news ul li h3 {
    color: #fff;
}
.main aside .news ul li a {
    text-decoration: underline;
    color: #229201;
}
.main aside .news button {
    width: 100%;
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}
/*content*/
.main .content {
    position: relative;
    float: right;
    width: 75%;
    padding: 10px;
    background-color: #fdf6ea;
}
.main .content .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: #fdf6ea;
}
.main .content .shadow {
    position: absolute;
    left:-5%;
    bottom: 0;
    z-index: 0;
    width: 110%;   
}
.main .content .pic {
    width: 100%;
}
.main .content .thumbnail {
    width: 100%;
    margin: 15px 0;
    padding: 0 20px;
    background-color: #ebe0ce;
}
.main .content .thumbnail img {
    width: 100px;
    height: 70px;
    margin: 5px 15px;
    cursor: pointer;
}
.main .content .words {
    padding: 30px;
}
.main .content .words h3 {
    color: #a97a35;
    font-size: 20px;
    line-height: 40px;
}
.main .content .words p {
    margin: 15px 0;
    color: #525252;
    font-size: 14px;
    line-height: 1.714;
    word-break: break-all;
}



/*****　footer *****/
footer {
    float: left;
    clear: both;
    width: 100%;
    box-shadow: 0 0 1px 0 #fdf6ea;
}
footer .foot-nav,
footer .copyright {
    float: left;
    width: 70%;
    margin: 0 15%;
}
footer .foot-nav {
    padding-top: 20px;
    padding-bottom: 50px;
}
footer .foot-nav li {
    float: left;
    width: 25%;
    padding: 0 20px;
    color: #886227;
}
footer .foot-nav li .icon {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 1px 1px 1px 0 #fdf6ea, 1px 2px 3px 1px #7C511A inset;
    background-color: #A97E37;
}
footer .foot-nav li .icon div {
    width: 50px;
    height: 50px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
footer .foot-nav li .icon .home {
    background-position: -2px top;
}
footer .foot-nav li .icon .home:hover {
    background-position: -2px -88px;
}
footer .foot-nav li .icon .about {
    background-position: -242px top;
}
footer .foot-nav li .icon .about:hover {
    background-position: -242px -88px;
}
footer .foot-nav li .icon .news {
    background-position: -482px top;
}
footer .foot-nav li .icon .news:hover {
    background-position: -482px -88px;
}
footer .foot-nav li .icon .blog {
    background-position: -722px top;
}
footer .foot-nav li .icon .blog:hover {
    background-position: -722px -88px;
}
footer .foot-nav li p {
    line-height: 1.5;
    word-break: break-all;    
}
footer .copyright {
    height: 80px;
    border-top: 5px solid #D7AF6A;
    font-size: 13px;
    line-height: 80px;
    color: #D7AF6A;
    text-align: center;
}


/*device width < 960*/
@media screen and (max-width: 960px) {
    header .desc .left {
        margin-left: 0;
    } 
    header .desc .right,
    header .search form {
        margin-right: 0;
    }  
    .main,
    footer .foot-nav,
    footer .copyright {
        width: 100%;
        margin: 0;
    }
}
/*device width < 640*/
@media screen and (max-width: 640px) {  
    header {
        text-align: center;
    } 
    header .desc .right,
    header .search form {
        float: none;
        margin: 30px auto;
    }
    .main aside,
    .main .content {
        width: 100%;
    }
    header .desc .left,
    .main .content .thumbnail,
    footer .foot-nav {
        display: none;
    }
}